@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,100;1,400&display=swap');
/* line 1, ../../sass/scss/_main.scss */
body {
  font-family: 'Montserrat', sans-serif;
}
.home{
    background: url('../media/home-bg6.jpg')no-repeat;
      background-position-x: 0%;
      background-position-y: 0%;
      background-size: auto;
    background-size: cover;
    background-position: center;
    min-height: 600px;
    padding-bottom: 100px;
}
.logo{
  max-height: 77px;
}
.text-center{
  margin-top:50px;
  margin-left: 320px;
}
.d-flex{
  opacity: 0.8;
}
/* line 4, ../../sass/scss/_main.scss */
.navbar {
  background-image: linear-gradient(#ee9ca7, #ffdde1);
  max-height: 90px;
}

/* line 7, ../../sass/scss/_main.scss */
.navbar .nav-link {
  color: #000;
  font-size: 18px;
}
.nav-item{
    padding: 110px;
}
/* line 11, ../../sass/scss/_main.scss */
.container {
  display: flex;
  align-items: strech;
}

/* line 15, ../../sass/scss/_main.scss */
.col-12 {
  max-width: 30%;
}
/* line 28, ../../sass/scss/_main.scss */
h2 {
  font-size: 60px;
  font-style: 500;
  text-align: center;
  color: #000;
  margin-top: 50px;
}
.container{
  margin-top: 50px;
}
.turnos{
  margin-top: 30px;
}

textarea{
  resize: none;
  min-width: 100%;
}
.table{
  margin-top: 50px;
}
.table-hover tbody tr:hover {
  background-color: #fff;
}
h5{
  font-size: 20px;
  text-align: center;
  color: #000;
  border: 2px #000 solid;
  background-color: #ee9ca7;
}
/* line 33, ../../sass/scss/_main.scss */
h1 {
  color: #000;
  display: inline-block;
  padding: 5em 2em;
  align-content: center;
  font-weight: 700;
  font-size: 118px;
  text-shadow: 5px 5px 5px  #fff;
}

/* line 43, ../../sass/scss/_main.scss */
p {
  padding: 10px;
  font-size: 25px;
  font-weight: 500;
}

/* line 48, ../../sass/scss/_main.scss */
.table {
  background-image: linear-gradient(#ee9ca7, #ffdde1);
}

/* line 51, ../../sass/scss/_main.scss */
.card-text {
  padding: 20px;
  font-size: 20px;
}

/* line 55, ../../sass/scss/_main.scss */
.btn-primary {
  color: #000;
  background-color: #ee9ca7;
  border-color: #007bff;
}
.mapa{
  width: 50%;
  margin-left: 280px;
}
/* line 60, ../../sass/scss/_main.scss */
.whatsapp {
  width: 5px;
  position: fixed;
  bottom: 10px;
  right: 50px;
}

/* line 66, ../../sass/scss/_main.scss */
.whatsappPink {
  width: 50px;
  height: 50px;
}
.footer{
  font-size: 26px;
  width: 100%;
  text-decoration: none;
  height: 60px;
  line-height: 20px;
  text-align: center;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}
.navbar-fixed-bottom{
  background-image: linear-gradient(#ee9ca7, #ffdde1);
  min-height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 86px;
}
  
.social-icons {
  padding: 0;
  margin: 0;
}
.social-icons li {

  display: inline-block;
  list-style: none;
  margin-bottom: 10px;
}

.social-icons li a {
  text-decoration: none;
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
}
.social-icons li a:hover {
  background: #ff7592;
  color: #ffffff;

}
.redes{
  max-width: 36px;
}
.contacto{
  width: 50%;
}*/
.col-md-12{
  position: relative;
  width: 100%;
  height: 160px;
}
/*# sourceMappingURL=estilos.css.map */

#advanced-search-form{
    background-image: linear-gradient(#ee9ca7, #ffdde1);
    max-width: 800px;
    margin: 160px auto 0;
    padding: 40px;
    color: #858b8e;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.2);
}

#advanced-search-form h2{
    padding-bottom: 20px;
    margin: 10px 20px;
    font-size: 24px;
}

#advanced-search-form hr{
    margin-top: 38px;
    margin-bottom: 54px;
    margin-left:3px;
    border: 1px solid #cccccc;

}

#advanced-search-form .form-group{
  margin-bottom: 20px;
    margin-left:20px;
  width: 30%;
    float:left;
    text-align: left;
}

#advanced-search-form .form-control{
    padding: 12px 20px;
    height: auto;
    border-radius: 2px;
}

#advanced-search-form .radio-inline{
    margin-left: 10px;
    margin-right: 10px;
}

#advanced-search-form .gender{
    width: 30%;
    margin-top: 30px;
    padding-left: 20px
    padding-top: 5px;
    padding-bottom: 5px;
}

#advanced-search-form .btn{
    width: 46%;
    margin: 20px auto 0;
    display: block;
    outline: none;
    background-color:  #ee9ca7;
}
@media screen and (max-width: 800px){
    #advanced-search-form .form-group{
        width: 45%;
    }

    #advanced-search-form{
        margin-top: 0;
    }
}

@media screen and (max-width: 560px){
    #advanced-search-form .form-group{
        width: 100%;
        margin-left: 0;
    }

    #advanced-search-form h2{
        text-align: center;
    }
}
.imagen-portada{
  background-image: url("../media/portada.jpg");
  height: 190vh;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -50px;
}
.btn-primary:hover{
    color: #fff;
    background-color: #161717;
    border-color: #161717;
}
.contacto{
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  margin-top: 55px;
}