body{
	font-family: $font-family;
	overflow-x: hidden;
}
.home{
	background: url('../media/home-bg6-2.jpg')no-repeat;
      background-position-x: 0%;
      background-position-y: 0%;
      background-size: auto;;
    background-size: cover;
    background-position: center;
    min-height: $min-height;
    padding-bottom: 100px;
}
.logo{
  max-height: 77px;
}
.text-center{
  margin-top: 50px;
  margin-left: 320px;
}
.navbar {
  background-image: $background-image;
  max-height: 90px;
}
.navbar .nav-link {
  color: $color;
  font-size: $font-size;
}
.navbar-fixed-bottom{
  background-image: $background-image;
  min-height: 77px;
  display: $display2;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: $justify-content;
  align-items: $align-content;
  margin-top: 86px;
}
.navbar-collapse{
    width: $width;
    left: 0;
    text-align: $align-content;
    margin: $margin;
    position: $position;
	z-index: 2;
}
.nav-link:hover {
    background-color: #fff;
}
.nav-item{
    padding: $padding;
    margin-right: 0;
    background-image: $background-image;
}
.nav-item:hover{
  border-color: $border-color;
}
.imagen-portada{
  background-image: url("../media/portada2.jpg");
  height: $height;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -50px;
}
@media all and (max-width: $max-width) {
  .imagen-portada{
  background-image: url("../media/portada-mobile2.jpg");
  height: 253px;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0px;
  }
}
@media all and (max-width: $max-width){
	.row{
		margin-top: -210px;
	}
}
h1{
  color: $color;
  display: $display;
  padding: 2em 2em;
  align-content: $align-content;
  font-weight: $font-weight;
  font-size: $font-size2;
  text-shadow: 5px 5px 5px  #fff;
}
@media all and (max-width: $max-width) {
  h1{
  color: $color;
  display: $display;
  padding: 1em 1em;
  align-content: $align-content;
  font-weight: $font-weight;
  font-size: 56px;
  text-shadow: 5px 5px 5px  #fff;
  }
}
h2{
  font-size: $font-size3;
  font-style: $font-style;
  text-align: $text-align;
  color: $color;
  margin-top: 50px;
}
@media all and (max-width: $max-width){
	h2{
		font-size: 40px;
	}
}
h5{
  font-size: $font-size4;
  text-align: $text-align;
  color: $color;
  border: 2px #000 solid;
  background-color: $background-color;
}
p {
  padding: $padding3;
  font-size: 20px;
  font-weight: 700;
}
.trabajos{
	margin-left: 270px;
	margin-top: 90px;
}
.trabajos img{
	max-width: 400px;
}
@media all and (max-width: $max-width){
	.trabajos{
		margin-left: 100px;
		}
}
.container {
  display: $display;
  align-items: $align-items;
  margin-top: 61px;
  margin-right: 50px;
}
.col-12 {
  max-width: 30%;
}
.col-md-12{
  position: $position;
  width: $width;
  height: 30vh;
}
.turnos{
  margin-top: 30px;
}
textarea{
  resize: none;
  min-width: $min-width;
}
.table{
  margin-top: 50px;
  background-image:$background-image;
}
.table-hover tbody tr:hover{
  background-color: $background-color2;
}
.card-text{
  padding: 20px;
  font-size: $font-size3;
}
#advanced-search-form{
    background-image: $background-image;
    max-width: 800px;
    margin: 160px auto 0;
    padding: 40px;
    color: $color2;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.2);
    margin-top: 50px;
}

#advanced-search-form h2{
    padding-bottom: 20px;
    margin: 10px 20px;
    font-size: $font-size5;
}

#advanced-search-form hr{
    margin-top: 38px;
    margin-bottom: 54px;
    margin-left: 10px;
    border: 1px solid #cccccc;

}

#advanced-search-form .form-group{
  	margin-bottom: 20px;
  	margin-left: 20px;
  	width: 30%;
    float: left;
    text-align:left;
}

#advanced-search-form .form-control{
    padding: 12px 20px;
    height: auto;
    border-radius: 2px;
}

#advanced-search-form .radio-inline{
    margin-left: 3px;
    margin-right: 10px;
}

#advanced-search-form .gender{
    width: 800px;
    margin-top: 86px;
    padding-left: 20px;
    padding-top: $padding-top;
    padding-bottom: $padding-top;
}

#advanced-search-form .btn{
    width: 46%;
    margin: 20px auto 0;
    display: block;
    outline: none;
    background-color:  $background-color;
}
@media screen and (max-width: 360px){
    #advanced-search-form .form-group{
        width: 45%;
    }

    #advanced-search-form{
        margin-top: 0;
    }
}

@media screen and (max-width: 560px){
    #advanced-search-form .form-group{
        width: $width;
        margin-left: 0;
    }

    #advanced-search-form h2{
        text-align: center;
    }
}
@media all and (max-width: $max-width){
.card-group > .card {
    margin-top: 180px; 
  }
}
.btn-primary{
  color: $color;
  background-color: $background-color;
  border-color: $border-color;
}
.btn-primary:hover{
    color: $color;
    background-color: $background-color3;
    border-color: $border-color2;
}
@media all and (max-width: $max-width ){
	.curso{
		visibility: hidden;
	}
}
.contacto{
  width: 92%;
  display: $display2;
  justify-content: $justify-content;
}
.social-icons{
  padding: 0;
  margin: 0;
}
.social-icons li {

  display: $display4;
  list-style: $text-decoration;
  margin-bottom: 10px;
}

.social-icons li a {
  text-decoration: $text-decoration;
  font-size: $margin-top8;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: middle;
  vertical-align: middle;
  margin-right: 10px;
}
.social-icons li a:hover {
  background-color: $background-color4;
  color: $color4;

}

.mapa{
  width: $width/2;
  padding: $font-size4;
}
@media all and (max-width: $max-width ){
	iframe{
		display: none;
	}
}
@media all and (max-width: $max-width){
  .contacto{
    width:70%;
    height:300px;
    position:absolute;
    display:block;
  }
}
.footer{
  width: $width;
  text-decoration:none;
  height: 60px;
  line-height: $line-height;
  text-align: $text-align;
  background-color: $background-color2;
  transition: $transition;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
}
@media all and (max-width: $max-width){
	.footer{
		margin-top: 318px;
	}
}
