$font-family: 'Montserrat', sans-serif;
$min-height: 600px;
$background-image: linear-gradient(#ee9ca7, #ffdde1);
$min-height2: 80px;
$color: #000; 
$font-size: 18px;
$padding: 23px;
$margin-right: 110px;
$border-color: #fff;
$height: 90vh;
$position: relative;
$background-repeat: no-repeat;
$display: inline-block;
$display2: flex;
$flex-wrap: wrap;
$justify-content: space-between;
$align-content: center;
$font-weight: 700;
$font-size2: 118px;
$max-width: 600px;
$font-size3: 60px;
$font-style: 500;
$text-align: center;
$font-size10: 20px;
$font-size8: 30px;
$background-color: #ee9ca7;
$padding3: 10px;
$font-size4: 25px;
$font-weight: 500;
$display: flex;
$align-items: strech;
$margin:0 auto;
$margin-top8:30px;
$max-width6:36px;
$min-width: 100%;
$background-color2: #fff;
$background-color: #ee9ca7;
$border-color: #007bff;
$background-color3: #aea3a3;
$border-color2: #f20d8e;
$width: 100%;
$height2: 160px;
$text-decoration: none;
$line-height: 20px;
$transition: all 0.4s ease-in-out;
$padding5: 40px;
$color2: #858b8e;
$font-size5: 24px;
$padding-top: 5px;
$width4: 45%;
$display4: inline-block;
$max-width4: 560px;
$background-color4: #ff7592;
$color4: #ffffff;
$widthMapa:200px;
$heightMapa:100px;
$positionMapa: relative;
