$font-family: 'Montserrat', sans-serif;
$overflow-x: hidden;
$background: url('../media/home-bg6-2.jpg')no-repeat;
$background-position-x:0%;
$background-position-y:0%;
$background-size:auto;
$background-size2:cover;
$background-position: center;
$min-height: 600px;
$padding-bottom: 100px;
$max-height2: 77px;
$margin-top: 50px;
$margin-left: 320px;
$background-image: linear-gradient(#ee9ca7, #ffdde1);
$max-height3: 90px;
$min-height2: 80px;
$color: #000; 
$font-size: 18px;
$padding: 23px;
$margin-right: 110px;
$border-color: #fff;
$background-image2: url("../media/portada2.jpg");
$height: 90vh;
$position: relative;
$background-repeat: no-repeat;
$margin-top5: -50px;
$background-image3: url("../media/portada-mobile.jpg");
$height2: 30vh;
$display: inline-block;
$display2: flex;
$flex-direction: row;
$flex-wrap: wrap;
$justify-content: space-between;
$padding2: 2em 2em;
$align-content: center;
$font-weight: 700;
$font-size2: 118px;
$text-shadow: 5px 5px 5px  #fff;
$max-width: 600px;
$max-width2: 800px;
$font-size3: 60px;
$font-style: 500;
$text-align: center;
$margin-top2: 50px;
$font-size10: 20px;
$font-size8: 30px;
$border: 2px #000 solid;
$background-color: #ee9ca7;
$padding3: 10px;
$font-size4: 25px;
$font-weight: 500;
$display: flex;
$align-items: strech;
$margin-top3: 61px;
$margin-top4: 86px;
$margin:0 auto;
$left: 0;
$margin-right2: 50px;
$max-width3: 30%;
$margin-top8:30px;
$max-width6:36px;
$resize: none;
$min-width: 100%;
$background-color2: #fff;
$padding4: 20px;
$background-color: #ee9ca7;
$border-color: #007bff;
$background-color3: #aea3a3;
$border-color2: #f20d8e;
$width: 100%;
$height2: 160px;
$text-decoration: none;
$height3: 60px;
$line-height: 20px;
$text-align: center;
$transition: all 0.4s ease-in-out;
$margin2: 160px auto 0;
$padding5: 40px;
$color2: #858b8e;
$box-shadow: 6px 6px 6px rgba(0,0,0,0.2);
$padding-bottom: 20px;
$margin3: 10px 20px;
$font-size5: 24px;
$margin-top6: 38px;
$margin-bottom: 54px;
$margin-left3:3px;
$border2: 1px solid #cccccc;
$margin-bottom2: 20px;
$width2: 30%;
$float:left;
$padding6: 12px 20px;
$height4: auto;
$border-radius: 2px;
$margin-left2: 10px;
$padding-top: 5px;
$width3: 46%;
$margin4: 20px auto 0;
$display3: block;
$width4: 45%;
$margin-top7: 180px;
$width5: 92%;
$display4: inline-block;
$max-width4: 560px;
$width6: 60px;
$vertical-align: middle;
$background-color4: #ff7592;
$color4: #ffffff;
$width7:70%;
$height8:300px;
$position4:absolute;
$widthMapa:200px;
$heightMapa:100px;
$positionMapa: relative;
$margin-footer: 318px;
$margin-topRow: -210px;
$positionNav: relative;
$z-index: 2;
$margin-rightNav:0px;
$displayContac:block;